experiment:
  name: "WAVEGUIDE"
  description: "Single straight waveguide to test leakage in Split-Step methods."

physics:
  wavelength_um: 0.635
  c0: 1500.0
  probe_dia_um: 8.0
  probe_focus_um: 0.0

grid:
  n_physical: 1024
  n_padding: 256
  physical_width_um: 150.0

sample:
  type: "WAVEGUIDE"
  thickness_um: 200.0
  n_prop_fine: 4000
  params:
    n_background: 1.0
    delta_n: 0.1
    beta_n: 0.001
    width_um: 8.0

solver:
  pade_order: 8

benchmark:
  step_counts: [32, 64, 128]
  save_beam_idx: 0
